.about {
  background: #011826;
  padding: 30px 0px;
  section {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;

    .right {
      .glass-box {
        padding: 20px;
        text-align: center;

        h2 {
          font-family: var(--font-3);
          font-size: 60px;
          color: var(--font-color-1);
          margin-bottom: 10px;
        }
        p {
          font-family: var(--font-base);
          font-size: 17px;
          line-height: 19px;
        }
        .image {
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .social {
          margin-top: 20px;
          margin-bottom: 20px;
          img {
            width: 30px;
            margin: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about {
    section {
      width: 90%;
      margin: 0 auto;
      grid-template-columns: auto;

      .left {
        margin-bottom: 10px;
      }
      .right {
        .glass-box {
          width: 500px;
          margin: 0 auto;
          .image {
            img {
              width: 100px;
              height: 100px;
            }
          }
          h2 {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .about {
    section {
      .right {
        .glass-box {
          width: 100%;
        }
      }
    }
  }
}
