.about {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 60px;

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .right {
      .glass-box {
        // aspect-ratio: 3/2;

        // width: 500px;
        padding: 20px;
        text-align: center;

        h2 {
          font-family: var(--font-2);
          font-size: 40px;
          color: #c7c7c7;
        }
        p {
          font-family: var(--font-base);
          font-size: 17px;
          line-height: 19px;
        }
        .image {
          img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #ebebeb;
          }
        }
        .social {
          img {
            width: 30px;
            margin: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about {
    width: 90%;
    margin: 0 auto;
    section {
      grid-template-columns: auto;

      .left {
        margin-bottom: 10px;
      }
      .right {
        .glass-box {
          //   aspect-ratio: 500/378;
          width: 500px;
          margin: 0 auto;
          .image {
            img {
              width: 100px;
              height: 100px;
            }
          }
          h2 {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .about {
    section {
      .right {
        .glass-box {
          width: 100%;
        }
      }
    }
  }
}
