.skills {
  margin-bottom: 60px;
  padding: 30px 0;

  section {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
    margin-bottom: 30px;

    .right {
      .glass-box {
        margin-top: 30px;
        background: #000b12;
        padding: 30px;
        .grp {
          margin: 0 10px;
          h1 {
            font-family: var(--font-base);
            font-size: 25px;
            line-height: 38px;
          }
          .bar {
            width: 100%;
            margin: 20px 0;
            height: 8px;
            background: #fff;
            .barscore {
              border-right: 2px solid black;
              background: #000;
              height: 100%;
              position: relative;
              left: -1px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .skills {
    section {
      width: 95%;
      margin: 0 auto;
      gap: 10px;
      grid-template-columns: auto;

      .left,
      .right {
        width: 100%;
        .glass-box {
          padding: 20px;
          width: 90%;
          margin: 0 auto;
          .grp {
            max-width: 700px;
            .bar {
              margin: 10px auto;
            }
          }
        }
      }
      .left {
        padding: 20px;
        // margin-bottom: 30px;
      }
    }
  }
}
