@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Cookie&family=VT323&display=swap");

:root {
  --base-border: #030163;
  --font-color-1: #0572ff;
  --font-base: "Cantora One", sans-serif;
  --font-2: "VT323", monospace;
  --font-3: "Cookie", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-color-1);
}

li {
  list-style: none;
}

body {
  background: #000b12;
  color: #fff;
  margin-top: 100px;
}

.details {
  font-family: var(--font-base);
  font-size: 24px;
  line-height: 27px;
}
.head {
  font-family: var(--font-2);
  font-size: 58px;
  color: var(--font-color-1);
  margin-bottom: 20px;
}

/* .btn {
  display: inline-block;
  margin-top: 20px;
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(60px);
  border-radius: 52px;
  padding: 10px 25px;
  font-family: var(--font-2);
  border: 2px solid #ff00ff;
  font-size: 25px;
  color: #fff;
}*/
.btn a {
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* .btn {
    margin-top: 10px;
    font-size: 20px;
  } */
  .head {
    font-size: 30px;
  }
  .details {
    font-size: 20px;
  }
}

.glass-box {
  background: #011826;
  backdrop-filter: blur(70px);
  border-radius: 52px;
  box-shadow: 4px 4px 30px rgba(25, 80, 115, 0.5);
  border-radius: 60px 0px;
  padding: 30px;
}
