.notFoundmain {
  width: 100%;
  height: cal(100vh);

  background-repeat: no-repeat;
  background-size: 100%;
  .notfound {
    backdrop-filter: blur(60px);
    border-radius: 16px;
    font-family: var(--font-2);
    text-align: center;
    margin: 0 auto;
    padding: 20px;

    h1 {
      font-size: 200px;
    }
    p {
      font-size: 60px;
    }
    a {
      display: inline-block;
      background: #011826;
      border: 2px solid #74b3ec;
      border-radius: 10px 15px;
      padding: 10px 20px;
      font-size: 30px;
    }
  }
}
